<h3>HOME LANDING</h3>
<h4>LISTA DE PRODUCTOS HTTP</h4>
{{#each allProducts }}
<ul>
    <li>ID: {{this.id}}</li>
    <li>Title: {{this.title}}</li>
    <li>Description: {{this.description}}</li>
    <li>Precio: {{this.price}}</li>
    <li>Image: {{this.thumbnail}}</li>
    <li>Code: {{this.code}}</li>
    <li>Stock: {{this.stock}}</li>
</ul>
{{/each }}